* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* :root {
   --path: "/gamepicker-files";
} */

body {
   background-color: black;
   height: 100vh;
}

.picker-container {
   width: 70%;
   padding-top: 70%; 
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.picker-content {
   position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
   flex-direction: column;
}

.top, .bottom {
   flex: 13% 1 1;
   position: relative;
}

.top .foi {
   background:
   url("/gamepicker-files/images/foi-text.png"),
    url("/gamepicker-files/images/small-box.png"),
    url("/gamepicker-files/images/box-rectangle.png");
    background-size: 25%, 100% 100%, 95% 80%;
}

.bottom .hologame {
   background:
   url("/gamepicker-files/images/hologame-text.png"),
    url("/gamepicker-files/images/small-box.png"),
    url("/gamepicker-files/images/box-rectangle.png");
    background-size: 70%, 100% 100%, 95% 80%;
}

.top .foi, .bottom .hologame {
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   width: 80%;
   height: 100%;
   left: 50%;
   transform: translateX(-50%);
}

.controller {
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url("/gamepicker-files/images/controller-icon.png");
   position: absolute;
   width: 15%;
   padding-bottom: 15%;
   left: 15%;
   top: -75%;
}
.controller-right {
   right: 15%;
   left: auto;
}


.main {
   flex: 74% 1 1;
   background-position: center;
   background-image: url("/gamepicker-files/images/main-box.png");
   background-repeat: no-repeat;
   background-size: contain;
   width: 100%;
   height: 100%;
}

.main .left-arrow {
   background-image: url("/gamepicker-files/images/arrow-left.png");
   left: 0;
}

.main .right-arrow {
   background-image: url("/gamepicker-files/images/arrow-right.png");
   right: 0;
}

.main .left-arrow, .main .right-arrow {
   position: absolute;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   width: 8%;
   height: 8%;
   top:50%;
   transform: translateY(-50%);
}

.left-arrow, .right-arrow {
   cursor: pointer;
}

.left-arrow:hover, .right-arrow:hover {
   transform: scale(1.2) translateY(-45%);
}

.main .games-container {
   width: 80%;
   height: 80%;
   position: relative;
   left: 50%;
   top:50%;
   transform: translate(-50%, -50%);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0px 6%;
   align-items: center;
}

.main .games-container .game {
   max-height: 55%;
   height: 55%;
   display: flex;;
   justify-content: center;
   cursor: pointer;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   /* background-image: url("/Sucelje/game-img-1.png"); */
}

.main .games-container .game:hover {
   transform: scale(1.1);
}
