<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="/gamepad-files/js/jquery-3.1.0.min.js"></script>
   <!-- <script src="/gamepad-files/js/hammer.js"></script> -->
   <script src="/gamepad-files/js/NoSleep.js"></script>
   <script src="/gamepad-files/js/socket.io.min.js" crossorigin="anonymous"></script>
   <script src="/gamepad-files/js/app.js" defer></script>
   <link rel="stylesheet" href="/gamepad-files/js/style.css">
   <title>Hologame Controller</title>
</head>
<body>
   <div class="container">
      <div class="controller-wrapper">
         <div class="controller-content">
            <div class="upper">
               <div class="btn-background btn"></div>
               <div class="start-container">
                  <div class="btn-start btn" alt="START"></div>
                  <div class="btn-select btn" alt="SELECT"></div>
               </div>
            </div>
            <div class="lower">
               <div class="left-controls">
                  <div class="controls-container">
                     <div class="controls-wrapper">
                        <div class="btn-up btn" alt="UP"></div>
                        <div class="btn-right btn" alt="RIGHT"></div>
                        <div class="btn-down btn" alt="DOWN"></div>
                        <div class="btn-left btn" alt="LEFT"></div>
                        <div class="btn-center btn" alt="CENTER"></div>
                     </div>
                  </div>
               </div>
               <div class="right-controls">
                  <div class="controls-container">
                     <div class="controls-wrapper">
                        <div class="btn-interface">
                           <div class="btn-a btn" alt="A"></div>
                           <div class="btn-b btn" alt="B"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</body>
</html>