<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="/gamepicker-files/style.css">
   <script defer src="/gamepicker-files/app.js" type="module"></script>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Odabir igre</title>
</head>
<body>
   <div class="picker-container">
      <div class="picker-content">
         <div class="top">
            <div class="foi"></div>
         </div>

         <div class="main">
            <div class="left-arrow"></div>
            <div class="games-container">
              <div class="game" data-name=""></div>
              <div class="game" data-name=""></div>
              <div class="game" data-name=""></div>
              <div class="game" data-name=""></div>
              <div class="game" data-name=""></div>
              <div class="game" data-name=""></div>
            </div>
            <div class="right-arrow"></div>
         </div>

         <div class="bottom">
            <div class="hologame">
               <div class="controller-left controller"></div>
               <div class="controller-right controller"></div>
            </div>
         </div>
      </div>
      
   </div>
</body>
</html>