<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timed out</title>
</head>
<body>
    <script type="text/javascript">
        function reconnect(){
            window.location.href = "/gamepad";
        }
    </script>
    <h1 style="text-align: center;">Disconnected due to inactivity</h1>
    <br>
    <button type="button" onclick="reconnect()" style="position: relative; left: 50%; transform: translateX(-50%); padding: 10px 20px; font-size: 20px; color: rgb(206,0,61);">Reconnect</button>
</body>
</html>
