<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/gamepad-files/js/socket.io.min.js" crossorigin="anonymous"></script>
    <script defer src="/gamepad-files/js/queue.js" type="module"></script>
    <title>HologameV Queue</title>
</head>
<body>
    <h1 style="text-align: center;">Too many players connected, you are in a waiting queue</h1>
    <br>
    <!-- <button type="button" onclick="reconnect()">Reconnect</button> -->
</body>
</html>
